# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# Uvicorn logs
*.log

# Python egg caches
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# dotenv environment variables
.env
.env.*

# Pytest
.pytest_cache/
.cache

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# FastAPI-specific
instance/
uploads/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# IDE settings
.idea/

# Python virtual environments
pip-wheel-metadata/
__pypackages__/


### NEXT.JS

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend//build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts